.form-nav {
    @include verticalCenter;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-top: 100px;
}

.form {
    margin-bottom: 50px;
    margin-top: 25px;
    label {
        font-size: 15px;
        font-family: $font-reg;
    }  
    .form-control {
        font-weight: 200;
        font-style: italic;
    }
}

