.row {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

h1 {
    margin: 25px;
}

.posts {
    width: 80%;
    border: 1px solid black;
    margin-right: 5%;
}

.profil {
    width: 25%;
    border: 1px solid black;
}

.post-creation {
    margin-right: 5%;
    border: 1px solid black;
    width: 50%;
}