.post-card {
    width: 750px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: 2px solid $color-2;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 25px;
    @include tabletScreen {
        width: 500px;
    }
    @include mobileScreen {
        width: 300px
    }
    .post-header {
        margin: 15px;
        display: flex;
        justify-content: row;
        margin-bottom: 0px;
        &__options {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 0px;
            margin-top: 10px;
            margin-left: auto;
            &__modify {
                border: none;
                margin-right: 1px;
                @include tabletScreen {
                    margin-right: 10px;
                }
            }
            .icone-option {     
                display: flex;
                padding: 5px;
                color: $color-1;
                background-color: $color-3;
                transition: 0.5s ease;
                &:hover {
                    color: $color-3;
                    background-color: $color-1;
                }
            }
        }
        &__user {
            font-family: $font-bold;
        }
        &__title {
            margin-left: 15px;
        }
    }
    .post-body {
        font-family: $font-reg;
        font-size: 15px;
        margin: 15px;
        &__description {
            margin-left: 10px
        }
        &__container {
            @include rowCenter;
            &__image {
                max-width: 750px;
                object-fit: cover;
                @include tabletScreen {
                    max-width: 450px;
                }
                @include mobileScreen {
                    max-width: 250px;
                }
            }
            
        }
    }
    .post-footer {
        margin: 15px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        &__reaction {   
            .like{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 5px;
                color: white;
                background-color: white;
                border-radius: 50%;
                border: none;
            }
            .comment{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                padding: 5px;
                color: #00acee;
                background-color: white;
                border-radius: 50%;
                border: none;  
                &__icone {
                    transition: 0.3s ease;
                    &:hover {
                        cursor: pointer;
                        transform: scale(120%);
                    }
                }
                &__number {
                    margin-left: 5px;
                }
            }
            .show-comments {
                transition: 0.5s ease;
            }      
        }
    }
}