.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px; 
    @include mobileScreen {
        flex-direction: column;
    } 
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.container-fluid {
    h1 {
        color: whitesmoke;
    }
    small {
        color: lightgrey;
    }
}

.posts {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgb(63, 0, 0);
    border: 1px solid $color-3;
    background-color: rgb(50, 50, 50);
    border-radius: 0px;
    h3 {
        color: white;
    }
    @include tabletScreen {
        width: 90%;
    }
    @include mobileScreen {
        width: 100%;
    }
    
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    color: $color-1;
    font-family: $font-bold;
    font-size: 20px;
    @include tabletScreen {
        align-items: flex-start;
    }
    @include mobileScreen {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .user-logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include tabletScreen {
            flex-direction: column;
        }
        @include mobileScreen {
            flex-direction: row;
        }
        &__logo {
            margin-left: 10px;
            transition: all 1s ease;
            &:hover {
                animation: logout-rotate 1s forwards;
            }
        }
    }
    a {
        text-decoration: none;
        color: $color-1;
        font-family: $font-bold;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        transition: 0.3s ease;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
            color: $color-2;
            
        }
    }   
    
}

.post-creation {
    width: 25%;
    @include mobileScreen {
        width: 100%;
        @include rowCenter;
    }
    a {
        text-decoration: none;
        color: $color-1;
        font-size: 20px;
        font-family: $font-bold;
        transition: 0.3s ease;
        &:hover {
            color: $color-2;  
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }
    
}

@keyframes logout-rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg);
    }
}